.footer{
    width: 100%;
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.footer .MuiIconButton-root{
    box-shadow: 0px 10px 53px 0px rgba(92, 88, 88, 0.3);
    background-color: white;
}


