.bottom-buttons{
    width: 100%;
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.bottom-buttons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.reload-icon{
    color: rgba(209, 212, 21, 0.952)
}

.dislike-icon{
    color: rgb(240, 78, 78) ;
}

.superlike-icon{
    color:rgb(8, 191, 252) ;
}

.like-icon{
    color: rgb(111, 221, 173) ;
}

.boost-icon{
    color: rgb(145, 93, 209) ;
}

