.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 202, 202);
}



.tinder-logo{
    object-fit: contain;
    height: 60px;
    margin-left: 10px;
}

